@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* contact
------------------------------------------ */

.contact {
  margin: f.rem(10) auto f.rem(34);
  text-align: center;
  width: 100%;
  max-width: f.rem(615);

  @include v.mq(pc) {
    margin: f.rem(56) auto f.rem(55);
  }

  &--2 {
    margin-top: f.rem(22);
    margin-bottom: f.rem(43);

    @include v.mq(pc) {
      margin-top: f.rem(46);
      margin-bottom: f.rem(53);
    }
  }
  &--3 {
    margin-top: f.rem(22);
    margin-bottom: f.rem(43);

    @include v.mq(pc) {
      margin-top: f.rem(46);
      margin-bottom: f.rem(65);
    }
  }

  &__title {
    font-size: f.rem(21);
    font-weight: v.$f-semibold;
    color: v.$c-pink;
    letter-spacing: 2px;
    margin-left: f.rem(10);

    @include v.mq(pc) {
      font-size: f.rem(34);
      letter-spacing: 3.4px;
      margin-left: f.rem(14);
    }
  }

  &__blue {
    color: v.$c-blue;
    font-size: f.rem(17);
    font-weight: v.$f-semibold;
    border-top: 2px solid v.$c-blue;
    border-bottom: 2px solid v.$c-blue;
    margin: f.rem(30) 0 f.rem(9);
    line-height: 2.2;
    letter-spacing: 1.5px;

    @include v.mq(pc) {
      font-size: f.rem(28);
      margin: f.rem(47) 0 f.rem(14);
      letter-spacing: 3px;
    }
  }

  &__text {
    text-align: left;
    font-size: f.rem(14);

    @include v.mq(pc) {
      font-size: f.rem(23);
      letter-spacing: -.3px;
    }

    & span {
      font-size: f.rem(11);

      @include v.mq(pc) {
        font-size: f.rem(18);
      }
    }
  }
}