@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* cover
------------------------------------------ */

.cover {
  background-color: v.$c-pink;
  margin-top: f.rem(60);
  color: v.$c-white;
  overflow-x: hidden;

  @include v.mq(pc) {
    margin-top: f.rem(92);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: f.rem(500);
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @include v.mq(pc) {
      max-width: f.rem(976);
      justify-content: right;
    }
    @media screen and (min-width: 950px) {
      padding-right: 3px;
    }
  }

  &__left {
    padding-left: f.rem(18);

    @include v.mq(pc) {
      position: absolute;
      left: 0;
    }
  }

  // 女性画像クリップ部分
  &__clip {
    position: absolute;
    bottom: 0;
    left: 0;
    width: f.rem(390);
    height: auto;

    @include v.mq(pc) {
      //width: ;
      width: clamp(f.rem(650), calc(-459.9px + 144.51vw), f.rem(913));
    }


  }

  // 右側
  &__top {
    background-color: rgba($color: #fff, $alpha: 0.5);
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: v.$f-bold;
    width: f.rem(188);
    height: f.rem(108);
    padding-left: f.rem(27);
    padding-right: f.rem(21);

    @include v.mq(pc) {
      width: f.rem(360);
      height: f.rem(180);
      padding-left: f.rem(38);
      padding-right: f.rem(30);
    }

    @media screen and (min-width: 950px) {
      width: f.rem(423);
      height: f.rem(222);
      padding-left: f.rem(58);
      padding-right: f.rem(53);
    }


    &--item {
      display: flex;
      flex-direction: column;
    }

    &--now {
      background-color: v.$c-white;
      color: v.$c-pink;
      font-size: f.rem(13);
      width: f.rem(47);
      height: f.rem(23);
      text-align: center;
      margin-top: f.rem(4);

      @include v.mq(pc) {
        font-size: f.rem(30);
        width: f.rem(106);
        height: f.rem(52);
        margin-top: f.rem(12);
      }
    }

    &--month {
      font-size: f.rem(24);

      @include v.mq(pc) {
        font-size: f.rem(36);
      }

      @media screen and (min-width: 950px) {
        font-size: f.rem(54);
      }
    }

    &--price {
      color: v.$c-yellow;
      font-size: f.rem(36);
      margin-bottom: f.rem(11);

      @include v.mq(pc) {
        margin-bottom: f.rem(30);
        font-size: f.rem(55);
      }

      @media screen and (min-width: 950px) {
        font-size: f.rem(81);
      }

      & span {
        font-size: f.rem(76);

        @include v.mq(pc) {
          font-size: f.rem(120);
        }

        @media screen and (min-width: 950px) {
          font-size: f.rem(171);
        }
      }
    }
  }

  &__middle {
    font-size: f.rem(9);
    text-align: right;
    margin-right: f.rem(25);
    margin-top: 2px;

    @include v.mq(pc) {
      font-size: f.rem(17);
      margin-right: f.rem(40);
      margin-top: 0;
    }

    @media screen and (min-width: 950px) {
      margin-right: f.rem(65);

    }

    & span {
      font-size: f.rem(14);

      @include v.mq(pc) {
        font-size: f.rem(26);
      }
    }
  }

  &__bottom {
    margin: f.rem(20) f.rem(25) f.rem(30) 0;
    font-size: f.rem(18);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: f.rem(12);

    @include v.mq(pc) {
      margin: f.rem(31) 0 f.rem(36) auto;
      font-size: f.rem(24);
      row-gap: f.rem(20);
    }
    @media screen and (min-width: 950px) {
      margin: f.rem(42) 0 f.rem(56) auto;
      font-size: f.rem(28);
    }

    & li {
      border: 1px solid v.$c-white;
      width: f.rem(133);
      height: f.rem(35);
      display: flex;
      justify-content: center;
      align-items: center;

      @include v.mq(pc) {
        width: 100%;
        max-width: f.rem(423);
        height: f.rem(69);
      }
    }
  }
}