@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* footer
------------------------------------------ */

.footer {
  background-color: v.$c-pink;
  height: f.rem(64);
  display: flex;
  align-items: center;
  justify-content: center;

  @include v.mq(pc) {
    height: f.rem(128);
    padding-top: 6px;
  }

  // ロゴ
  &__logo img {
    width: f.rem(72);

    @include v.mq(pc) {
      width: f.rem(144);
    }
  }
}