@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* header
------------------------------------------ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  padding: 0 f.rem(10);
  background-color: v.$c-white;

  // ロゴ
  &__logo img {
    width: f.rem(75);

    @include v.mq(pc) {
      width: f.rem(98);
    }
  }

  &__nav {
    width: 100%;
    max-width: f.rem(1025);
    margin-left: auto;
    margin-right: auto;

    &--list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: f.rem(59);

      @include v.mq(pc) {
        height: f.rem(91);
      }
    }

    &--button {
      display: flex;
      column-gap: f.rem(10);

      @include v.mq(pc) {
        column-gap: f.rem(21);
      }
    }
  }
}