@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* お客様の声
------------------------------------------ */
.voice {
  background-color: v.$c-pink-back;
  padding-top: f.rem(24);

  @include v.mq(pc) {
    padding-top: f.rem(28);
    padding-bottom: f.rem(30);
  }

  &__slider {
    position: relative;
    margin: f.rem(18) auto 0;

    @include v.mq(pc) {
      margin-top: f.rem(33);
    }

    & .swiper {
      margin: 0 auto;
      overflow: hidden;
      padding-bottom: f.rem(54);
      transform: translateX(2px);
    }
  }

  &__text {
    font-size: f.rem(18);
    padding: f.rem(10) 0;
  }
}


/* スライド
------------------------------------------ */

// スライド1枚のデザイン
.swiper-slide {
  width: f.rem(309);
  height: f.rem(186);
  display: flex;
  flex-direction: column;

  &__box1,
  &__box2,
  &__box3 {
    display: flex;
    align-items: flex-start;
    flex: 1;
  }

  &__box1 {
    padding: 14px 12px 11px 20px;
    column-gap: 19px;

    & img {
      width: f.rem(78);
    }
  }

  &__box2 {
    padding: 13px 10px 0 17px;
    column-gap: 15px;

    & img {
      width: f.rem(86);
    }
  }

  &__box3 {
    padding: 14px 12px 0 27px;
    column-gap: 22px;

    & img {
      width: f.rem(68);
    }
  }


  &__name {
    color: v.$c-pink;
    font-size: f.rem(16);
    padding-top: 2px;
    padding-bottom: 5px;
  }

  &__text {
    font-size: f.rem(14);
    line-height: 1.5;
  }
}


/* ページネーション（共通） */
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #FFD2D2;
  opacity: 1; // Swiperのデフォルト透明度を打ち消す
}

/* アクティブ時 */
.swiper-pagination-bullet-active {
  background-color: v.$c-pink;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: f.rem(12);
}

/* ドットの間隔幅 */
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7px;
}